<f:layout name="Default" />

<f:section name="Main">
    <f:render partial="Container" arguments="{_all}" contentAs="content">
        <div class="col-12 col-lg">
            <f:for each="{data.children_10}" as="element">
                {element.renderedContent -> f:format.raw()}
            </f:for>
        </div>

        <div class="col-12 col-lg">
            <f:for each="{data.children_20}" as="element">
                {element.renderedContent -> f:format.raw()}
            </f:for>
        </div>
    </f:render>
</f:section>
