<html 
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:site="Site\Frontend\ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Default" />

    <f:section name="Main">
        <f:render partial="Container" arguments="{_all}" contentAs="content">
            <div class="col-12">
                <f:for each="{children_10}" as="element">
                    {element.renderedContent -> f:format.raw()}
                </f:for>
            </div>
        </f:render>
    </f:section>
</html>
