<html 
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:site="Site\Frontend\ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Default" />

    <f:section name="Main">
        <site:translate identifier="Frontend.Test:key" />

        <button id="alert" class="btn btn-primary waves-effect waves-light">
            Alert Button
        </button>

        <section id="header">
            <f:render partial="Header" arguments="{page: data}" />
        </section>

        <section id="content">
            <f:format.raw>{content}</f:format.raw>
        </section>

        <section id="footer">
            <f:render partial="Footer" arguments="{page: data}" />
        </section>
    </f:section>
</html>
